
        ../../.PyCharmCE2018.2/
        ../../.VirtualBox/
        ../../.atom/
        ../../.babel.json
        ../../.bash_history
        ../../.cisco/
        ../../.config/
        ../../.gitconfig
        ../../.gitignore
        ../../.idlerc/
        ../../.node_repl_history
        ../../.pgAdmin4.1057243102.addr
        ../../.pgAdmin4.1057243102.log
        ../../.pgAdmin4.427924103.addr
        ../../.pgAdmin4.427924103.log
        ../../.pgAdmin4.startup.log
        ../../.pylint.d/
        ../../.v8flags.6.8.275.32-node.52.d047402cc80e90d8860bb86975d36ba8.json
        ../../.viminfo
        ../../.vscode/
        ../../3D Objects/
        ../../AppData/
        ../../Compliance-Manager/
        ../.vs/
        ../Concur/
        ../Credentials.docx
        ../DATS/
        ../DSA.docx
        ../Git Cheat Sheets/
        ../Linux/
        ../My.xlsx
        ../Postman.lnk
        ../Using concur invoice web app.docx
        ../desktop.ini
        ../express sample/
        ../my syllabus.xlsx
        ../personl Docs/
        ../practice/
        ../pro0/
        ../profile.docx
        ../py docs/
        ../sap shares.JPG
        ../~$2533_Stored Credit Check_Apollo_new_FINAL.doc
        ../~$EA Amadeus Auto-Ticketing Technical Document (dev copy).doc
        ../~$My.xlsx
        ../~$Q_Threshold Check & Queue to Yapta_CA [S.212b].docx
        ../~$ored Fare to J Remarks Validation_US [A.133].docx
        ../../Documents/
        ../../Downloads/
        ../../Favorites/
        ../../IntelGraphicsProfiles/
        ../../Links/
        ../../MicrosoftEdgeBackups/
        ../../Music/
        ../../NTUSER.DAT
        ../../NTUSER.DAT{1c3790b4-b8ad-11e8-aa21-e41d2d101530}.TM.blf
        ../../NTUSER.DAT{1c3790b4-b8ad-11e8-aa21-e41d2d101530}.TMContainer00000000000000000001.regtrans-ms
        ../../NTUSER.DAT{1c3790b4-b8ad-11e8-aa21-e41d2d101530}.TMContainer00000000000000000002.regtrans-ms
        ../../OneDrive - SAP SE/
        ../../OneDrive/
        ../../Pictures/
        ../../PycharmProjects/
        ../../README.md
        ../../Saved Games/
        ../../Searches/
        ../../Videos/
        ../../VirtualBox VMs/
        ../../c.db
        ../../d.db
        ../../db2.db
        ../../dogs_db.db
        ../../mydog
        ../../ntuser.dat.LOG1
        ../../ntuser.dat.LOG2
        ../../ntuser.ini
        ../../ntuser.pol
        ../../portfolio/
        ../../source/